%h1 Listing finances

%table
  %tr
    %th Activo liquido
    %th Activo restante
    %th Deuda hipoteca
    %th Tarjetas rativos
    %th Creditos
    %th Ingresos
    %th Pension
    %th Otros ingresos
    %th Cuaota hipotecaria
    %th Targetas credito
    %th Otro creditos
    %th Pagos recurrentes
    %th Ahorros
    %th Abono hogar
    %th
    %th
    %th

  - @finances.each do |finance|
    %tr
      %td= finance.activo_liquido
      %td= finance.activo_restante
      %td= finance.deuda_hipoteca
      %td= finance.tarjetas_rativos
      %td= finance.creditos
      %td= finance.ingresos
      %td= finance.pension
      %td= finance.otros_ingresos
      %td= finance.cuaota_hipotecaria
      %td= finance.targetas_credito
      %td= finance.otro_creditos
      %td= finance.pagos_recurrentes
      %td= finance.ahorros
      %td= finance.abono_hogar
      %td= link_to 'Show', finance
      %td= link_to 'Edit', edit_finance_path(finance)
      %td= link_to 'Destroy', finance, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Finance', new_finance_path
