%p#notice= notice

%p
  %b Activo liquido:
  = @finance.activo_liquido
%p
  %b Activo restante:
  = @finance.activo_restante
%p
  %b Deuda hipoteca:
  = @finance.deuda_hipoteca
%p
  %b Tarjetas rativos:
  = @finance.tarjetas_rativos
%p
  %b Creditos:
  = @finance.creditos
%p
  %b Ingresos:
  = @finance.ingresos
%p
  %b Pension:
  = @finance.pension
%p
  %b Otros ingresos:
  = @finance.otros_ingresos
%p
  %b Cuaota hipotecaria:
  = @finance.cuaota_hipotecaria
%p
  %b Targetas credito:
  = @finance.targetas_credito
%p
  %b Otro creditos:
  = @finance.otro_creditos
%p
  %b Pagos recurrentes:
  = @finance.pagos_recurrentes
%p
  %b Ahorros:
  = @finance.ahorros
%p
  %b Abono hogar:
  = @finance.abono_hogar

= link_to 'Edit', edit_finance_path(@finance)
\|
= link_to 'Back', finances_path
